**/node_modules/
/frontend/dist/
/index.html

/.env
/.env
/backend/appsettings.json
*.json
!frontend/libs/supabase-js/package.json
/frontend/.env.development
/backend/appsettings.json
/frontend/.env.development
/.env
